modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[userenv]

[userenv.shared]
WP_SITE_URL = "https://forgottenformula.com"
WP_USERNAME = "blake"
ENABLE_SCHEDULERS = "true"
WP_APPLICATION_PASSWORD = "UygL b3PJ b9EB QALx YUOb FgIz"
PUBMED_API_KEY = "9f7f39877f985198c6daff9e78e7d9918008"
CORE_API_KEY = "Ey9ON0FhMqJGvDHxbuVWI8Y4ZgQTK5fr"
SIGNNOW_EMAIL = "blake@forgottenformula.com"
SIGNNOW_APP_ID = "24743b7a4b294286a1fcc1123e8a214886033e58"
RUPA_USERNAME = "blake@forgottenformula.com"
PREVIEW_TOKEN_SECRET = "4175182e27d318e22d3b9d91599f0cb0fb1ed2ab88099908978f4cf97f4932c5"

[nix]
channel = "stable-25_05"
packages = ["alsa-lib", "at-spi2-atk", "cairo", "cups", "dbus", "expat", "gitFull", "glib", "gtk3", "libdrm", "libxkbcommon", "mesa", "mesa_glu", "nspr", "nss", "pango", "playwright-driver", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb"]
